// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import 'fontawesome/fontawesome';

body {
    direction: rtl;
    text-align: right;
}

.smiley-alert .smiley-close {
    right: unset !important;
    left: 20px
}

img {
    max-width: 100%;
}
