<template>
    <div>
        <v-select dir="rtl" :options="allTags" v-model="tags" label="name" item-text="name" item-value="name" multiple taggable></v-select>
        <input type="hidden" name="tags" v-model="JSON.stringify(tags)"/>
    </div>
</template>

<script>
    export default {
        name: "SelectTags",
        props: ['allTags', 'defaultTags'],
        data() {
            return {
                tags: []
            }
        },
        mounted() {
            if (this.defaultTags != null)
                this.tags = this.defaultTags
        }
    }
</script>
